.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;

  @include desktop-min {
    width: 984px;
  }

  @include tablets {
    width: 100%;
    padding: 0 20px;
  }

  @include phones {
    padding: 0 16px;
  }
}

.container-tablet-off {
  @include tablets {
    width: 100%;
    padding: 0;
  }
}
