.country-tabs {
  background: url("../img/tabs-bg-desktop.png") no-repeat;
  background-position-x: 247px;
  background-position-y: 92px;
  padding-bottom: 421px;
  margin-top: -5px;

  @include desktop-min {
    display: flex;
    justify-content: center;
  }

  @include tablets {
    background: none;
    padding: 98px 0;
    overflow: hidden;
  }

  @include phones {
    padding-top: 39px;
  }
}

.country-tabs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-tabs__item {
  display: none;
  position: relative;

  @include tablets {
    flex-direction: column;
  }
}

.country-tabs__item_active {
  display: flex;
}


.country-tabs__left-wrapper {
  width: 425px;
  margin-right: 45px;

  @include tablets {
    width: initial;
    margin-right: 0;
    padding: 0 20px;
  }

  @include phones {
    padding: 0 16px;
  }
}

.country-tabs__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: $dark-main;
  position: relative;
  letter-spacing: -1.245px;
  margin-bottom: 47px;
  margin-top: 40px;

  @include tablets {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    margin-top: 35px;
    margin-bottom: 22px;
    letter-spacing: 0;
  }

  @include phones {
    font-size: 24px;
    line-height: 150%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.country-tabs__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 175px;
  height: 3px;
  background: $main-orange;
  bottom: -17px;

  @include tablets {
    display: none;
  }
}

.country-tabs__text {
  font-size: 16px;
  line-height: 28px;
  color: $black-opacity;
  width: 376px;
  letter-spacing: -0.466px;
  margin-bottom: 50px;

  @include tablets {
    padding: 0;
    text-align: center;
    width: initial;
    margin-bottom: 19px;
  }
}

.country-tabs__buy-button {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background: $main-orange;
  color: $white;
  padding: 30px 5px;
  display: block;
  width: 250px;
  height: 75px;
  text-align: center;
  letter-spacing: 2px;

  &:hover {
    background: $hover-orange;
  }

  @include tablets {
    margin: 0 auto;
    margin-bottom: 30px;
    height: 50px;
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 10px;
    line-height: 12px;
  }

  @include phones {
    width: 288px;
    margin-bottom: 50px;
  }
}

.country-tabs__img {
  display: block;
  width: 100%;
  margin-top: 28px;

  @include tablets {
    margin-top: 0;
    padding: 0;
  }
}
