.main-nav {
  display: flex;
  padding: 31px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $dark;
  align-items: center;

  @include desktop-min {
    justify-content: space-around;
  }

  @include tablets {
    padding: 0;
    padding-left: 20px;
    align-items: initial;
    min-height: 50px;
    justify-content: space-between;
  }

  @include phones {
    padding-left: 16px;
  }
}

.main-nav__logo {
  @include tablets {
    margin-top: 18px;
  }
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 624px;
  margin-top: 4px;
  align-items: baseline;

  @include desktop-min {
    margin-left: 0;
  }

  @include tablets {
    display: none;
  }
}

.menu-list__link {
  color: $dark;

  &:hover {
    color: $main-orange;
  }
}

.menu-list__link_tel {
  font-size: 18px;
  line-height: 32px;
}

.mobile-menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @include tablets {
    flex-direction: column;
  }
}

.mobile-menu_no-js {
  display: flex;
}

.mobile-menu_open {
  @include tablets {
    display: flex;
    min-height: 568px;
    justify-content: flex-start;
  }
}

.mobile-menu__item {
  margin-bottom: 24px;
  background: $light;
  padding: 17px;
  padding-top: 19px;
  padding-left: 18px;
}

.mobile-menu__item_close {
  background: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 71px;
}

.mobile-menu__icon-link {
  margin-top: 4px;
}

.mobile-menu__item_no-js {
  display: none;
}

.mobile-menu__link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  justify-content: space-between;
}

.menu-list__item:first-of-type {
  margin-right: 40px;
}

.menu-list__item:nth-of-type(2) {
  margin-right: 90px;
}

.menu-list__link {
  color: inherit;
  text-decoration: none;
}

.menu-list__link_tel {
  text-decoration: underline;
  position: relative;
}

.menu-list__link_tel::before {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/phone.svg");
  width: 30px;
  height: 30px;
  left: -39px;
  top: -2px;
}

.menu-list__link_tel:hover::before {
  background: url("../img/phone-orange.svg");
}

.main-nav__button {
  display: none;

  @include tablets {
    display: flex;
    background-color: $main-orange;
    width: 72px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  @include phones {
    width: 50px;

  }
}

.main-nav__button_no-js {
  display: none;
}

.main-nav__button_opened {
  display: none;
}
