.page-footer {
  display: flex;
  margin-top: 173px;
  padding-bottom: 85px;
  padding-left: 10px;

  @include tablets {
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 50px;
    justify-content: center;
    margin-top: 81px;
    padding-left: 20px;
  }

  @include phones {
    margin-left: 0;
    margin-top: 69px;
    padding-left: 16px;
  }
}

.page-footer__left {
  width: 390px;
  padding-right: 10px;

  @include tablets {
    width: 396px;
    margin-left: -30px;
  }

  @include phones {
    margin-left: 0;
    padding-right: 0;
    width: 300px;
  }
}

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $dark;
  margin-top: 0;

  @include tablets {
    margin-bottom: 21px;
  }

  @include phones {
    margin-left: 15px;
  }
}

.directions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include desktop-min {
    justify-content: space-around;
  }

  @include tablets {
    justify-content: initial;
  }

  @include phones {
    padding: 0;
  }
}

.directions__item {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: $grey-opacity-extra;

  @include phones {
    text-align: center;
  }
}

.directions__path-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.directions__left {
  margin-right: 53px;

  @include desktop-min {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 47px;
  }

  @include phones {
    margin-left: 22px;
    margin-right: 25px;
  }
}

.directions__center {
  margin-right: 50px;

  @include desktop-min {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 50px;
  }

  @include phones {
    margin-left: 52px;
    margin-right: 32px;
  }
}

.directions__right {
  @include phones {
    margin-top: 12px;
    margin-left: 92px;
  }
}

.page-footer__center {
  width: 390px;
  border-left: 1px solid $footer-border-grey;
  border-right: 1px solid $footer-border-grey;
  display: flex;
  flex-direction: column;
  padding-left: 90px;

  @include desktop-min {
    padding-left: 0;
    align-items: center;
  }

  @include tablets {
    border-right: none;
    width: 300px;
    padding-left: 49px;
    align-items: flex-start;
  }

  @include phones {
    border-left: none;
    padding-top: 38px;
    padding-bottom: 20px;
    padding-left: 0;
    position: relative;
  }
}

.page-footer__center::before {
  @include phones {
    position: absolute;
    content: "";
    display: block;
    background-color: $footer-border-grey;
    height: 1px;
    width: 100%;
    top: 8px;
    left: -5px;
  }
}

.page-footer__center::after {
  @include phones {
    position: absolute;
    content: "";
    display: block;
    background-color: $footer-border-grey;
    height: 1px;
    width: 100%;
    bottom: 6px;
    left: -5px;
  }
}

.page-footer__title_center {
  @include tablets {
    margin-bottom: 17px;
  }

  @include phones {
    margin-left: 63px;
  }
}

.page-footer__link {
  color: $main-orange;

  @include phones {
    text-align: center;
  }
}

.page-footer__link_email {
  font-size: 14px;
  line-height: 17px;

  @include phones {
    margin-left: 97px;
  }
}

.page-footer__link_tel {
  font-size: 16px;
  line-height: 32px;
  margin-top: 10px;

  @include phones {
    margin-left: 34px;
  }
}

.page-footer__icon-email {
  margin-right: 10px;
}

.page-footer__icon-tel {
  margin-right: 6px;
}

.page-footer__right {
  width: 370px;
  padding-left: 49px;

  @include tablets {
    flex-grow: 2;
    padding-left: 0;
    text-align: center;
    margin-top: 48px;
  }

  @include phones {
    padding-left: 0;
    margin-top: 23px;
  }
}

.page-footer__title_right {
  margin-bottom: 24px;

  @include phones {
    margin-left: 1px;
    margin-bottom: 25px;
  }
}

.page-footer__right-text {
  margin-top: 0;
  font-size: 14px;
  line-height: 170%;
  color: $grey-opacity-extra;

  @include phones {
    letter-spacing: -0.1px;
  }
}

.page-footer__email-desktop {
  @include tablets {
    display: none;
  }
}

.page-footer__email-tablets {
  display: none;

  @include tablets {
    display: inline;
  }
}
