.place-catalog {
  padding-top: 154px;

  @include desktop-min {
    padding: 0 20px;
  }

  @include phones {
    padding: 0 16px;
    margin-top: 108px;
  }
}

.place-catalog__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  width: 358px;
  letter-spacing: -1.245px;

  @include tablets {
    margin: 0 auto;
    width: 295px;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    margin-top: 80px;
    margin-bottom: 21px;
    letter-spacing: 0.1px;
  }

  @include phones {
    width: 288px;
    font-size: 24px;
    text-align: center;
  }
}

.place-catalog__title::after {
  content: "";
  display: block;
  position: relative;
  width: 228px;
  height: 4px;
  background-color: $main-orange;
  top: 28px;

  @include tablets {
    display: none;
  }
}

.place-catalog__info {
  font-size: 16px;
  line-height: 28px;
  color: $black-opacity;
  width: 379px;
  margin-top: 61px;
  letter-spacing: -0.466px;

  @include tablets {
    margin: 0 auto;
    width: 350px;
    text-align: center;
  }

  @include phones {
    width: 100%;
  }
}

.place-catalog__list {
  list-style: none;
  margin: 0;
  margin-top: -27px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include desktop-min {
    justify-content: space-around;
  }

  @include tablets {
    margin-top: -24px;
    padding-left: 61px;
    padding-right: 61px;
    justify-content: space-between;
  }

  @include phones {
    padding: 0;
    justify-content: center;
    margin-top: -46px;
  }
}

.place-catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;
  margin-right: 60px;

  @include desktop-min {
    margin-right: 0;
  }

  @include tablets {
    margin-bottom: -47px;
    justify-content: start;
  }

  @include phones {
    margin-bottom: -30px;
  }
}

.place-catalog__item:nth-of-type(1) {
  @include tablets {
    margin-right: 0px;
  }

  @include phones {
    margin-right: 0;
  }
}

.place-catalog__item:nth-of-type(3) {
  margin-right: 0;
  @include tablets {
    margin-right: 29px;
  }

  @include phones {
    margin-right: 0;
  }
}

.place-catalog__item:nth-of-type(4) {
  margin-left: 174px;
  margin-right: 120px;

  @include desktop-min {
    margin-left: 0;
    margin-right: 0;
  }

  @include tablets {
    margin-left: 0;
  }
}

.place-catalog__item:nth-of-type(5) {
  @include tablets {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 14px;
  }

  @include phones {
    margin: 0 auto;
  }
}

.place-catalog__img {
  position: relative;
  top: 63px;
}

.place-catalog__name {
  z-index: 5;
  background-color: $white;
  padding: 16px 0;
  text-align: center;
  width: 215px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $dark-main;
}
