.popup {
  width: 728px;
  min-height: 444px;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $pink-light;
  background-image: url("../img/popup-img.jpg");
  background-repeat: no-repeat;
  background-size: 338px;
  z-index: 6;
  display: none;

  @include tablets {
    width: 100%;
    min-height: 568px;
    background-image: none;
  }

  @include phones {
    top: 100px;
  }
}

.popup_show {
  display: flex;
}
