/* buy */

.popup-buy__form {
  padding: 20px;
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 338px;

  @include tablets {
    margin-left: 0;
    width: 100%;
    padding: 16px;
    background-color: $white;
  }
}

.popup-buy__close-button {
  align-self: flex-end;
  background: none;
  border: none;
}

.popup-buy__title {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  color: $black-popup;
  margin-bottom: 52px;

  @include tablets {
    margin-top: 115px;
  }

  @include phones {
    margin-top: 52px;
  }
}

.popup-buy__input {
  margin-bottom: 20px;
  padding-top: 27px;
  padding-bottom: 22px;

  @include tablets {
    width: 100%;
  }
}

.popup-buy__submit {
  letter-spacing: 2.7px;
  width: 176px;
  padding: 17px 0;

  @include tablets {
    width: 100%;
  }
}
