.questions {
  background: url("../img/questions-bg-desktop.jpg") no-repeat;
  min-height: 455px;
  display: flex;
  align-items: center;

  @include tablets {
    margin-top: 125px;
  }

  @include phones {
    background: none;
    margin-top: 0;
  }
}

.questions__form {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px $black-shadow;
  width: 656px;
  min-height: 315px;
  margin-left: auto;
  margin-right: 50px;
  text-align: center;

  @include phones {
    width: 100%;
    padding: 0 20px;
    box-shadow: none;
    background: $pink-light;
    padding-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }
}

.questions__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $dark;
  margin-top: 50px;
}

.questions__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.questions__input_tel {
  margin-right: 19px;

  @include phones {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.questions__submit {
  margin-top: 43px;
}
