.questions {
  background: url("../img/questions-bg-desktop.jpg") no-repeat;
  background-position-x: 10px;
  min-height: 455px;
  display: flex;
  align-items: center;
  margin-top: 88px;
  position: relative;

  @include tablets {
    margin-top: 123px;
    position: static;
    background-position-x: 0;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-color: $questions-bg;
  }

  @include phones {
    background: $pink-light;
    margin-top: 11px;
    min-height: 442px;
  }
}

.questions__form {
  position: absolute;
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 30px $black-shadow;
  width: 656px;
  min-height: 315px;
  top: 70px;
  right: -10px;
  text-align: center;

  @include tablets {
    position: static;
    min-height: 312px;
    margin-top: -8px;
  }

  @include phones {
    background: none;
    width: 100%;
    box-shadow: none;
    padding-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }
}

.questions__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $dark;
  margin-top: 50px;
  margin-bottom: 15px;

  @include tablets {
    margin-bottom: 13px;
  }

  @include phones {
    margin-top: 58px;
    margin-bottom: 20px;
  }
}

.questions__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 24px;

  @include tablets {
    margin-bottom: 24px;
  }

  @include phones {
    margin-bottom: 19px;
  }
}

.questions__input {
  padding-top: 9px;

  @include tablets {
    padding-top: 5px;
    height: 50px;
  }

  @include phones {
    width: 100%;
  }
}

.questions__input_tel {
  margin-right: 15px;

  @include phones {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.questions__submit {
  margin-top: 38px;
  letter-spacing: 2.7px;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  width: 176px;

  &:hover {
    background: $hover-orange;
  }

  @include tablets {
    width: 250px;
    margin-top: 20px;
    height: 50px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @include phones {
    width: 100%;
  }
}
