.submit {
  text-transform: uppercase;
  background: $main-orange;
  border: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $white;
  padding: 15px 0;
  letter-spacing: 2px;

  @include phones {
    font-size: 10px;
    line-height: 12px;
  }
}
