// Colors
$dark: #141517;
$main-orange: #fe7865;
$hover-orange: #f17d4b;
$description-bg: #487698;
$questions-bg: #ff877c;
$light: #fbf8f8;
$white: #ffffff;
$dark-main: #2c2e3f;
$black-opacity: rgba(44, 46, 63, 0.7);
$black-opacity-light: rgba(44, 46, 63, 0.3);
$grey-opacity: rgba(20, 21, 23, 0.7);
$grey-opacity-extra: rgba(20, 21, 23, 0.5);
$black: #000000;
$black-shadow: rgba(41, 54, 66, 0.1);
$pink-light: #fbf8f8;
$footer-border-grey: #d7d9df;
$black-popup: #48494d;
